/* Color Theme */
/*252839 - Dark Purp
  677077 - Med Grey
  b5b5b7 - Light Grey
  f2b362 - Gold */

body {
    background-color: #252839;
    color: #b5b5b7;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

div {
    text-align: center;
    /*box-shadow: 1px 1px 1px #F00;*/
}

.rowOfLetters {
    padding: 0px 10px 0px 20px;
}

.guessLetter {
    font-size: 5em;
    border: 1px solid #b5b5b7;
    border-radius: 15px;
    width: 7.6%;
    float: left;
    cursor: pointer;
}

.guessLetter:hover {
    background-color: #677077;
}

.disabled {
    background-color: #666;
}

#title {
    font-size: 8em;
}

#guesses {
    font-size: 9em;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

#gameBoard {
    font-size: 8em;
    color: #f2b362;
    letter-spacing: 7px;
    line-height: 1em;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

#letterBoard {
    position: absolute;
    width: 94%;
    bottom: 10%;
    left: 4%;
    right: 4%;
}

#rowOneLetters {
    margin-top: 100px;
}

#rowTwoLetters {
    margin-bottom: 100px;
}

#newPuzzle {
    font-size: 5em;
    width: 94%;
    position: absolute;
    bottom: 3%;
    left: 4%;
    right: 4%;
}
