/* Color Theme */
/*252839 - Dark Purp
  677077 - Med Grey
  b5b5b7 - Light Grey
  f2b362 - Gold */

body {
    background-color: #252839;
    color: #b5b5b7;
}

div {
    text-align: center;
}

.rowOfLetters {
    padding: 0px 10px 0px 20px;
}

.guessLetter {
    font-size: 36px;
    border: 1px solid white;
    width: 7.6%;
    float: left;
    /*float: left;*/
/*    width: 20%;*/
}

#title {

}

#guesses {
    font-size: 100px;
}

#gameBoard {
    height: 150px;
    font-size: 60px;
}

#rowOneLetters {
    padding-top: 20px;
}

#rowTwoLetters {
    padding-bottom: 20px;
}

#newGameDiv {
    position: absolute;
    bottom: 5px;
}